<footer class="py-5 text-center">
  <div class="container d-flex justify-content-center py-5 footer">
    <div class="col-md-4">
      <div>
        <i class="bi bi-house-door-fill"></i>
      </div>

      <div class="box-contnet">
        <span>H&K Housekeeping</span>
        <span>Gürzenich straße 25</span>
        <span>50667 Köln</span>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <i class="bi bi-wechat"></i>
      </div>
      <div class="box-contnet">
        <span>Telephone: <a href="tel:+49017614191272">(+49) 017614191272</a></span>
        <span><a href="mailto:HK-housekeeping2277@outlook.com">info@Hk-Housekeeping.com</a></span>
        <span><a href="mailto:Moustafa2277@outlook.com">Moustafa@Hk-Housekeeping.com</a></span>
        </div>
    </div>

    <div class="col-md-4">
      <div>
        <i class="bi bi-clock-fill"></i>
      </div>
      <div class="box-contnet">
        <span>Termine nach Vereinbarung</span>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center align-content-center text-center">
    <a routerLink="datapotection"> Impressum & Datenschutz</a>
  </div>
</footer>
