<section class="d-flex align-items-center container section-one p-0">


      <div class="col-md-6 d-flex flex-column align-items-center box-contact">
        <h1 class=" header-color text-center">Über uns</h1>
        <p>Lernen Sie unser vielseitiges Team kennen</p>
        <div>
          <button class="btn contact-btn shadow-lg me-2 " (click)="contactClick()">Kontakt</button>
        </div>
      </div>




</section>

<section class="container text-center">
  <div class="d-flex justify-content-center text-center">
    <h1 class="my-5">Die Fit and Clean24 UG stellt sich vor</h1>
  </div>

    <div class="row justify-content-center my-3">

      <div class="img-box col-md-6 p-0">
        <img class="img-fluid rounded-5" src="../../assets/cleaning_team.jpg" alt="">
      </div>

      <div class="content-box d-flex flex-column justify-content-center col-md-6">
        <h2>Profis in der Gebäudereinigung</h2>
        <p>Das Team von Fit and Clean24 ist schon seit vielen Jahren engagiert in der Gebäudereinigung in Köln und Umgebung tätig. Neben der termingerechten und präzisen Ausführung sämtlicher Aufträge legen wir großen Wert auf eine transparente und nachvollziehbare Kostengestaltung. Bei uns behalten Sie stets die volle Kontrolle. Mit viel Know-how und Motivation widmen wir uns dem Reinigungsservice für Privatpersonen und Unternehmen.</p>
      </div>

    </div>
</section>
