<section class="d-flex align-items-center container">
  <div class="col-md-6 d-flex flex-column align-items-center">
    <h1 class="my-3">Jobangebote Fit and Clean</h1>
    <p>Wir freuen uns auf Ihre Bewerbung</p>
    <div>
      <button class="btn contact-btn shadow-lg me-2" (click)="contactClick()">
        <i class="bi bi-pencil-fill"></i> Kontakt
      </button>
    </div>
  </div>
</section>

<main class="d-flex justify-content-center my-5">
  <div class="col-5">
    <h4>Produktionshelfer/Elektronik (m/w/d) in Mönchengladbach</h4>
    <h6>
      Wir sind auf der Suche nach mehreren Produktionsmitarbeitern /Elektronik in Mönchengladbach.
    </h6>
    <div class="list">
      <h6>Das bieten wir Ihnen:</h6>
      <ul>
        <li>unbefristetes Arbeitsverhältnis tarifliche Zuschläge für Überstunden</li>

        <li>Nachtschicht, Sonn- und Feiertagsarbeit bis zu 30 Tage Urlaub (je nach Betriebszugehörigkeit)</li>

        <li>
          Anerkannte Sozialleistungen, inkl. Urlaubs- und Weihnachtsgeld sowie Zuschüsse zur betrieblichen Altersvorsorge
        </li>
        <li>
          kostenfreie Stellung von Arbeitsschutzkleidung und Werkzeugen Mitarbeitervorteilprogramm (wie z. B. Vergünstigungen in Onlineshops)
        </li>
        <li>kostenfreie arbeitsmedizinische Vorsorgeuntersuchung</li>
      </ul>

      <h6>Das bringen Sie mit:</h6>
      <ul>
        <li>körperliche Belastbarkeit</li>
        <li>selbstständige Arbeitsweise und Flexibilität</li>
        <li>Pünktlichkeit und Zuverlässigkeit</li>
        <li>Team- und Kommunikationsfähigkeit</li>
        <li>Gute Deutschkenntnisse</li>
      </ul>
    </div>

    <h6 class="my-3">Erkennen Sie sich wieder?</h6>
    <p>
      Dann freuen wir uns auf Ihre Bewerbung! Wir nehmen Ihre Bewerbungsunterlagen gerne über unser Online-Formular, telefonisch, per E-Mail oder postalisch entgegen.
    </p>

    <div class="my-4">
      <div class="info">
        <span>E-Mail: </span>
        <a class="text-decoration-none text-muted" href="mailto:HK-housekeeping2277@outlook.com"> info@HK-Housekeeping.com</a
        >
      </div>
      <div class="info">
        <span>Mobile: </span>
        <a class="text-decoration-none text-muted" href="tel:+49017614191272"> (+49) 017614191272</a>
      </div>
      <div class="info">
        <span>Adresse:</span>
        <h6>Gürzenich Str.25 in 50667 Köln</h6>
      </div>
    </div>

    <p> Falls Sie lieber persönlich mit uns sprechen möchten, dann rufen Sie uns an oder kommen Sie direkt in unsere Niederlassung. Bei einer Tasse Kaffee besprechen wir mit Ihnen gerne die weiteren Schritte.    </p>

    <h4>Staplerfahrer (m/w/d) im Vollgut- und Leergutmanagement    </h4>

    <div class="list">
      <h6>ANFORERUNGEN:</h6>
      <ul>
        <li>Staplerschein und gültiger G25-Nachweis</li>
        <li>Praktische Erfahrung mit dem Bedienen von Staplern (6 Monate )</li>
        <li>
          Engagement zum Erlernen von Terminal- und Scannertechnik im Vollgutmanagement (PC-Grundkenntnisse)
        </li>
        <li>
          Gute Kenntnisse der deutschen Sprache in Wort und Schrift inkl. Zahlenverständnis
        </li>
        <li>Selbständige Arbeitsweise, Belastbarkeit, Flexibilität</li>
        <li>Prozessorientiertes und verantwortungsvolles Verhalten</li>
        <li>bei Einsatz im iPCC: gültiger Führerschein</li>
      </ul>

      <h6>AUFGABEN:</h6>
      <ul>
        <li>Ein- und Auslagern von Waren mittels Gabelstapler bis 2 to. (Stapler Typ LINDE E16-E20, Doppelpedaltechnik)</li>
        <li>Nutzung von Terminal- und Scanertechnik</li>
        <li>Bereitstellen der Ladungsträger zur weitern Versendung</li>
        <li>Erkennen und Lesen von Belegen ( Text und Zahl)</li>
      </ul>
    </div>
  </div>
</main>
