@import '../../styles.scss';
header{
  background-color: #fff;

  li a{
    color: #121212;
    font-family: "Roboto Condensed" , sans-serif;
    font-weight: 400;
    font-size: .8rem;
  }

  .dash{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 1px;
      height: 20px;
      right: 5px;
      background-color: #121212;
    }
  }

}


nav{
  background-color: #fff;
  transition: ease-in-out 2s;
  .nav-link{
  color:$mainColor;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 15px;
  &:hover{
    border-bottom: 1px black solid;
    color: black;
  }
  }
  .logo{
    width: 65%;
  }
  .active{
    border-bottom: 1px black solid;
  }
  
}
