<section class="d-flex align-items-center container p-0 text-center">
  <div class="col-md-6">
    <h1 class="my-3">Willkommen bei <span class="underline-animation">H&K Housekeeping
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255 32.61"><path d="M4 14.11s54-8 125-9 120 5 120 5-105-14.11-239.5 3" class="stroke" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="10" /></svg>
    </span></h1>

    <p>Bei uns erhalten Sie saubere Räumlichkeiten in Nullkommanichts</p>
    <div>
      <button class="btn contact-btn shadow-lg me-2" (click)="contactClick()"> <i class="bi bi-pencil-fill"></i> Jetzt Anfrage stellen</button>
      <a href="tel:017614191272" class="btn contact-btn shadow-lg" role="button"><i class="bi bi-telephone-fill"></i> Jetzt anrufen</a>
    </div>
  </div>
</section>


<main class="container">
  <div class="d-flex flex-column align-items-center text-center">

    <h2 class="py-5">Ihre Experten für Gebäudereinigung & Housekeeping in Köln  </h2>

    <div class="row justify-content-center mb-5">

      <div class="img-box col-md-6">
        <img class="img-fluid rounded-5 pe-3" src="../../assets/grid1-768x538.webp" alt="">
      </div>

      <div class="content-box d-flex flex-column justify-content-center col-md-6">
        <h2>H&K Housekeeping bietet ordentliche Reinigungs­leistungen</h2>
        <p>Die H&K Housekeeping ist Ihre Adresse für erstklassige Gebäudereinigung in und um Köln. Unsere Mitarbeiter sind hervorragend geschult, zuvorkommend und gehen ihrer Arbeit mit maximaler Gründlichkeit nach. Ob wir Sie im Rahmen von Unterhalts-, Büro- oder etwa Hotelreinigungen unterstützen, macht dabei keinen Unterschied.</p>
      </div>

    </div>


    <div class="row justify-content-center my-5">

      <div class="content-box d-flex flex-column justify-content-center col-md-6">
        <h2>Stets für Sie im Einsatz</h2>
        <p>Wir überzeugen mit sauberer Arbeitsleistung, damit Sie sich auf andere Dinge konzentrieren können! Nehmen Sie einfach Kontakt zu uns auf und lassen Sie sich umfassend zu unseren Leistungen informieren! Ihre Zufriedenheit steht für uns von der H&K Housekeeping aus Köln dabei an erster Stelle.</p>
      </div>

      <div class="img-box col-md-6">
        <img class="img-fluid rounded-5 ps-3" src="../../assets/grid2-768x538.png.webp" alt="">
      </div>

    </div>

  </div>
</main>
