<section class="d-flex align-items-center container section-one p-5">


  <div class="col-md-6 d-flex flex-column align-items-center">
        <h1 class="header-color text-center">Unsere Referenzen</h1>
        <p>Erhalten Sie einen Einblick in unsere Arbeit</p>
        <div>
          <button class="btn contact-btn shadow-lg me-2" (click)="contactClick()">Kontakt</button>
        </div>
      </div>

</section>

<section class="section-two">
  <div class="container">

    <div class="d-flex justify-content-center text-center my-3 flex-column">
      <h1>Referenzen von H&K Housekeeping</h1>
      <p class="">
        Als erfahrenes Unternehmen im Reinigungsservice aus Köln erwartet Sie bei uns eine professionelle Ausführung Ihrer Aufträge für private und gewerbliche Reinigungen. Erhalten Sie einen Einblick in unsere bisherigen Arbeiten.


      </p>
    </div>
    <div >

    </div>
  </div>
</section>



<section class="d-flex justify-content-center my-3">
  <div class="col-6">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.src">
          <img class="img-fluid" [src]="slide.src" [title]="slide.title">
          <p class=" text-center my-2">{{slide.title}}</p>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</section>
