@import "../../styles.scss";

body{
  color: $mainColor;
}
h1{
  font-size: 51px;
  font-weight: 600;
  line-height: 76.5px;
  margin:8px 0px 16px
}


p{
  font-size:17px;
  font-weight: 400;
  line-height: 25.5px;
  margin:0px 0px 14.4px;
  color:rgb(18, 18, 18);
}


section{
  strong{
    font-weight: 900;
  }

  h1,
  h2,h3,h4{
    color: $mainColor;

  }

  h3{
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;

  }

  .sollid{
    border: solid 1px #202020;

  }
}


.sectionTwo{

  h2{
    font-size: 34px;
    font-weight: 500;
    line-height: 51px;
    margin:8px 0px 16px;
  }

  h3{
    font-size:20.4px;
    font-weight: 600;
    line-height: 30.6px;
    margin:8px 0px 16px;
  }
  h4{
    font-size:24px;
    font-weight: 500;
    line-height: 28.4px;
    margin:8px 0px 16px;

  }

}

